/*
 * DOC.CSS --Stylesheet for "document" html.
 */
html {
    margin:	1em 5em;
    font-family: "Palatino", "Times New Roman", Times, serif;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "eurostile", "Franklin Gothic Medium", Helvetica, sans-serif;
    color: #888;
    margin: 0.8em 0 0.2em 0;
}

h1 { font-size: 36pt; }
h2 { font-size: 22pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }
h5 { font-size: 14pt; }
h6 { font-size: 12pt; }

code {
    font-family: "Monaco", "Consolas", "Inconsolata", monospace, fixed;
    font-size: 10pt;
    border: 1px solid #ddd;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 0 0.2em;
}

pre code {
    line-height: 1.2em;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 4px;
    padding: 1.5em;
}
