/*
 * PRINT.CSS --Stylesheet for printing HTML documents with Prince.
 */

/*
 * print/html: --print-specific settings
 */
@media print {
    html body {
    }
}

/*
 * @page: --Overall page layout
 */
@page {
    size: A4;
    padding: 0;
    margin: 2cm 0cm 1.5cm 0cm;
    font-family: "Helvetica Neue",  Calibri, "Helvetica", Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.3em;

    @bottom-center {
        content: "Page " counter(page) " of " counter(pages);
    	padding-top: 1em;
    	vertical-align: top;
    }
}

.new-page {
    page-break-before: always;
}
