/*
 * PRINT.CSS --Stylesheet for printing HTML documents with Prince.
 */

/*
 * print/html: --print-specific settings
 */
@media print {
    html body {
    }
}

/*
 * @page: --Overall page layout
 */
@page {
    size: A4;
    padding: 0;
    margin: 2cm 0cm 1.5cm 0cm;
    font-family: "Helvetica Neue",  Calibri, "Helvetica", Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.3em;

    @top-left {
        content: string(doc-title);
        padding-left: 2em;
    }
    @top-center {
        content: string(doc-section);
    }

    @bottom-left {
        content: "Copyright \a9 " string(doc-year) " " string(doc-author);
        padding-left: 2em;
    }
    @bottom-center {
        content: "Version " string(doc-version);
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        padding-top: 1em;
        padding-right: 2em;
        vertical-align: top;
    }
}

h1 { string-set: doc-title content(); }
h2 { string-set: doc-section content(); }
meta[name="version"] { string-set: doc-version attr(content); }
meta[name="author"] { string-set: doc-author attr(content); }
meta[name="year"] { string-set: doc-year attr(content); }
.new-page {
    page-break-before: always;
}
